[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
openai = "*"
langchain = "*"
supabase = "*"
tiktoken = "*"
pypdf = "*"
langchain-openai = "*"
langchain-community = "*"
langchain-text-splitters = "*"

[dev-packages]

[requires]
python_version = "3.8"
